<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script> <script src="/javascripts/angularApp.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<!--
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> from <%= pid %></p>
  </body>
-->
   <body ng-app="clusterApp" ng-controller="MainCtrl">
       <ul>
       <div ng-repeat="node in cluster">
          <li>{{node.pid}}</li>
       </div>
       </ul>
         <h3>Test PIDs</h3>
         <button type="button" ng-click="getMyPIDs()">TestPIDS</button>
   </body>
</html>
